# Relevant Questions/ Business Understanding

    1. What is the general view of the public on the new F1 2022 car and regulations?
    2. How did the public's opinion change from March 2020 to March 2022 (before first race of 2022 season)? 
   [Article about delaying new F1 regulations to 2022](https://www.formula1.com/en/latest/article.fia-announce-new-f1-regulations-to-be-delayed-until-2022.1lwtaLmpNcQd0z9SnMEyK8.html), which was published on March 19, 2020.
   
    3. How did the public's opinion change from March 2020 to March 2022 (before first race of 2022 season) per team?
    4. What team was the most liked?
    5. What were the main keywords on the new cars and regulations? (tag cloud)

# Data Collection

In [1]:
import pandas as pd
import datetime as dt
import twint as t
import nest_asyncio
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer


analyzer = SentimentIntensityAnalyzer()

nest_asyncio.apply()

In [2]:
# extract tweets about f1 2022 car from March 19, 2020 to March 17, 2022

"""
c = t.Config()

c.Search = ["f1 2022 car"]
c.Limit = None
c.Store_csv = True
c.Output = "tweets.csv"
c.Lang = "en"
c.Since = "2020-3-19"
c.Until = "2022-3-17"

t.run.Search(c)
"""

'\nc = t.Config()\n\nc.Search = ["f1 2022 car"]\nc.Limit = None\nc.Store_csv = True\nc.Output = "tweets.csv"\nc.Lang = "en"\nc.Since = "2020-3-19"\nc.Until = "2022-3-17"\n\nt.run.Search(c)\n'

In [3]:
# store in a pandas dataframe
df = pd.read_csv("tweets.csv")

In [4]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1504233064502857732,1504216927971024904,2022-03-17 07:08:04 China Standard Time,2022-03-17,07:08:04,800,896928340346535937,cosmic_interest,Luca Viani,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TwommoF1', 'name': 'Tommo', ...",NaN,NaN,NaN,NaN
1,1504191974806626313,1504191974806626313,2022-03-17 04:24:47 China Standard Time,2022-03-17,04:24:47,800,1366503856495026184,therealbazzzy_,Bazzzy,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1504147041500467202,1504147041500467202,2022-03-17 01:26:15 China Standard Time,2022-03-17,01:26:15,800,2283806204,rparabrisas,Revista Parabrisas,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1504125478445236227,1504125478445236227,2022-03-17 00:00:34 China Standard Time,2022-03-17,00:00:34,800,1376348324299694081,loseweight8119,FitForLife,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1504117147378794497,1504117147378794497,2022-03-16 23:27:27 China Standard Time,2022-03-16,23:27:27,800,434300744,matthilger1,MATT,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [5]:
df["tweet"]

0       @TwommoF1 F1 2022 car, you can fit a family in...
1       I AM LIVE FOR MY FIRST STREAM AS PAST OF THE T...
2       Los nuevos Safety Car y Medical Car de la F1 2...
3       F1 2022: six things to look forward to in the ...
4       Why Bahrain has exposed the weaknesses of F1 2...
                              ...
2309          Those rims will be on F1 2022 cars ohvgkkgg
2310    F1 2022 Concept Liveries.   What do you think ...
2311    CAN NOT WAIT FOR F1 2022. These cars look insa...
2312    Ford F1 2022 Livery Concept and on track visua...
2313    Brawn rules out any further delay of new #F1 2...
Name: tweet, Length: 2314, dtype: object

# Data Cleaning

In [6]:
df.language.unique()

array(['en', 'es', 'fr', 'ja', 'ca', 'it', 'el', 'in', 'pt', 'de', 'no',
       'et', 'und', 'hu', 'nl', 'da', 'sv', 'tl', 'zh'], dtype=object)

In [7]:
df.loc[df["language"] == "en"]

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1504233064502857732,1504216927971024904,2022-03-17 07:08:04 China Standard Time,2022-03-17,07:08:04,800,896928340346535937,cosmic_interest,Luca Viani,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TwommoF1', 'name': 'Tommo', ...",NaN,NaN,NaN,NaN
1,1504191974806626313,1504191974806626313,2022-03-17 04:24:47 China Standard Time,2022-03-17,04:24:47,800,1366503856495026184,therealbazzzy_,Bazzzy,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1504125478445236227,1504125478445236227,2022-03-17 00:00:34 China Standard Time,2022-03-17,00:00:34,800,1376348324299694081,loseweight8119,FitForLife,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1504117147378794497,1504117147378794497,2022-03-16 23:27:27 China Standard Time,2022-03-16,23:27:27,800,434300744,matthilger1,MATT,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
5,1504095726674055173,1504095726674055173,2022-03-16 22:02:20 China Standard Time,2022-03-16,22:02:20,800,1241859265477869569,theapexmsport,The Apex Motorsport,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,1279428915929518080,1279428915929518080,2020-07-04 22:56:38 China Standard Time,2020-07-04,22:56:38,800,210074674,alexteamlh,Alex ðŸ‡ºðŸ‡¸,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2310,1274725108108742657,1274725108108742657,2020-06-21 23:25:23 China Standard Time,2020-06-21,23:25:23,800,789491862700748800,seanbulldesign,Sean Bull Design,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2311,1265807481797738496,1265807481797738496,2020-05-28 08:49:55 China Standard Time,2020-05-28,08:49:55,800,1018185780190154758,mattcastle01,Matthew Castle,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2312,1263108078603567105,1263108078603567105,2020-05-20 22:03:28 China Standard Time,2020-05-20,22:03:28,800,789491862700748800,seanbulldesign,Sean Bull Design,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2313,1258350871286435840,1258350871286435840,2020-05-07 19:00:01 China Standard Time,2020-05-07,19:00:01,800,1701799962,insideracingcom,InsideRacing.com,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [8]:
df = df[df.language == "en"]

In [9]:
df.language.unique()

array(['en'], dtype=object)

In [10]:
required_columns = ['created_at', 'date', 'time', 'username', 'name', 'tweet']

print(required_columns)

['created_at', 'date', 'time', 'username', 'name', 'tweet']

In [11]:
df = df[required_columns]

In [12]:
df

,created_at,date,time,username,name,tweet
0,2022-03-17 07:08:04 China Standard Time,2022-03-17,07:08:04,cosmic_interest,Luca Viani,"@TwommoF1 F1 2022 car, you can fit a family in..."
1,2022-03-17 04:24:47 China Standard Time,2022-03-17,04:24:47,therealbazzzy_,Bazzzy,I AM LIVE FOR MY FIRST STREAM AS PAST OF THE T...
3,2022-03-17 00:00:34 China Standard Time,2022-03-17,00:00:34,loseweight8119,FitForLife,F1 2022: six things to look forward to in the ...
4,2022-03-16 23:27:27 China Standard Time,2022-03-16,23:27:27,matthilger1,MATT,Why Bahrain has exposed the weaknesses of F1 2...
5,2022-03-16 22:02:20 China Standard Time,2022-03-16,22:02:20,theapexmsport,The Apex Motorsport,Time to take a look at the famous red cars in ...
...,...,...,...,...,...,...
2309,2020-07-04 22:56:38 China Standard Time,2020-07-04,22:56:38,alexteamlh,Alex ðŸ‡ºðŸ‡¸,Those rims will be on F1 2022 cars ohvgkkgg
2310,2020-06-21 23:25:23 China Standard Time,2020-06-21,23:25:23,seanbulldesign,Sean Bull Design,F1 2022 Concept Liveries. What do you think ...
2311,2020-05-28 08:49:55 China Standard Time,2020-05-28,08:49:55,mattcastle01,Matthew Castle,CAN NOT WAIT FOR F1 2022. These cars look insa...
2312,2020-05-20 22:03:28 China Standard Time,2020-05-20,22:03:28,seanbulldesign,Sean Bull Design,Ford F1 2022 Livery Concept and on track visua...
2313,2020-05-07 19:00:01 China Standard Time,2020-05-07,19:00:01,insideracingcom,InsideRacing.com,Brawn rules out any further delay of new #F1 2...

In [13]:
#save files
df.to_csv("tweets_clean.csv")

#read files
df = pd.read_csv("tweets_clean.csv")

# Exploratory Data Analysis

# Feature Engineering

# Model Building

# Conclusions and Visualizations