# Relevant Questions/ Business Understanding

    1. What is the general view of the public on the new F1 2022 car and regulations?
    2. How did the public's opinion change from March 2020 to March 2022 (before first race)? 
   [Article about delaying new F1 regulations to 2022](https://www.formula1.com/en/latest/article.fia-announce-new-f1-regulations-to-be-delayed-until-2022.1lwtaLmpNcQd0z9SnMEyK8.html), which was published on March 19, 2020.
   
    3. How did the public's opinion change from March 2020 to March 2022 (before first race) per team?
    4. What team was the most liked?
    5. What were the main keywords on the new cars and regulations? (tag cloud)

# Data Collection

In [1]:
import pandas as pd
import datetime as dt
import twint as t
import nest_asyncio

nest_asyncio.apply()

In [ ]:
# extract tweets about f1 2022 car from March 19, 2020 to March 17, 2022

"""
c = t.Config()

c.Search = ["f1 2022 car"]
c.Limit = None
c.Store_csv = True
c.Output = "tweets.csv"
c.Lang = "en"
c.Since = "2020-3-19"
c.Until = "2022-3-17"

t.run.Search(c)
"""

In [2]:
# store in a pandas dataframe
df_tweets = pd.read_csv("tweets.csv")

In [3]:
df_tweets.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1504233064502857732,1504216927971024904,2022-03-17 07:08:04 China Standard Time,2022-03-17,07:08:04,800,896928340346535937,cosmic_interest,Luca Viani,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TwommoF1', 'name': 'Tommo', ...",NaN,NaN,NaN,NaN
1,1504191974806626313,1504191974806626313,2022-03-17 04:24:47 China Standard Time,2022-03-17,04:24:47,800,1366503856495026184,therealbazzzy_,Bazzzy,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1504147041500467202,1504147041500467202,2022-03-17 01:26:15 China Standard Time,2022-03-17,01:26:15,800,2283806204,rparabrisas,Revista Parabrisas,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1504125478445236227,1504125478445236227,2022-03-17 00:00:34 China Standard Time,2022-03-17,00:00:34,800,1376348324299694081,loseweight8119,FitForLife,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1504117147378794497,1504117147378794497,2022-03-16 23:27:27 China Standard Time,2022-03-16,23:27:27,800,434300744,matthilger1,MATT,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
df_tweets["tweet"]

0       @TwommoF1 F1 2022 car, you can fit a family in...
1       I AM LIVE FOR MY FIRST STREAM AS PAST OF THE T...
2       Los nuevos Safety Car y Medical Car de la F1 2...
3       F1 2022: six things to look forward to in the ...
4       Why Bahrain has exposed the weaknesses of F1 2...
                              ...
2309          Those rims will be on F1 2022 cars ohvgkkgg
2310    F1 2022 Concept Liveries.   What do you think ...
2311    CAN NOT WAIT FOR F1 2022. These cars look insa...
2312    Ford F1 2022 Livery Concept and on track visua...
2313    Brawn rules out any further delay of new #F1 2...
Name: tweet, Length: 2314, dtype: object

# Data Cleaning

# Exploratory Data Analysis

# Feature Engineering

# Model Building

# Conclusions and Visualizations